html,
body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.subs {
  padding: 10px;
  width: 200px;
  text-align: center;
}

@media (min-width: 0px){
  .css-1uonx4-MuiTypography-root {
    display: block !important;
}
}

